.sidebar {
  position: fixed;
  top: 90px;
  left: 0;
  height: 86.5vh;
  width: 237.75px;
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  font-family: "Raleway", sans-serif;
  justify-content: flex-start;
  color: white;
  z-index: 1;
  transition: all 1s;
}
@media all and (max-width: 750px) {
  .sidebar {
    display: none;
  }
}
.sd_title {
  margin: 1.7rem auto 1.4rem;
  font-size: 1.23rem;
}
.sd_content {
  align-items: flex-start;
  font-size: 0.8rem;
  line-height: 1.7rem;
  width: 60%;
}
