.br_textarea {
  height: 125px;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.3rem;
}
.br_graphicsNum {
  padding: 0;
  font-size: 1rem;
  width: 35px !important;
  text-align: center;
}
.br_cont {
  justify-content: space-between !important;
}
.br_logoCont {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.br_btnsCont {
  margin-top: 2rem;
}

@media all and (max-width: 1000px) {
  .branding {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}

@media all and (max-width: 603px) {
  .br_logoCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
