.l_firstDiv {
  margin-bottom: 1.2rem;
}
.l_firstPart {
  height: 100%;
  display: flex;
  padding: 13rem 10vw 0 9vh;
  box-sizing: border-box;
  line-height: 1.5rem;
  flex-wrap: wrap;
}
.l_pretty {
  width: 20%;
  margin-right: 4rem;
}
.l_firstp {
  font-size: 0.85rem;
  font-weight: 300;
}
.l_firsth {
  margin-bottom: 0.8rem;
  font-weight: 500;
}
.l_explore {
  margin-right: 9.5rem;
}
.l_visitcontact {
  margin-right: 5.3rem;
}
.l_follow {
  margin-right: 8rem;
}
.l_secondPart {
  margin-top: 3.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.l_container {
  background-color: #262626;
  width: 206.25px;
  height: 670px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px 8px 0 0;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 3rem;
  border: 1px solid transparent;
}
.l_container1 {
  border: 0.5px solid #2680eb;
}
.l_secondp {
  margin: 0 0 0 0.5rem;
  line-height: 1.4rem;
  color: #777777;
  font-size: 0.8rem;
  font-weight: 600;
}
.l_secondDiv {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
}
.l_logoCont {
  height: 100px;
  justify-content: center;
}
.l_img1 {
  height: 80.25px;
}
.l_img2 {
  height: 65.25px;
}
.l_img3 {
  /* height: 113.25px; */
  width: 65%;
}
.l_img4 {
  height: 104.25px;
}
.l_titleCont {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
}
.l_contentTitle {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
.l_popular {
  line-height: 1.4rem;
  color: #777777;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
}
.l_tickCont {
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #009740;
  border-radius: 100px;
  width: 8px;
  height: 8px;
  margin-top: 0.37rem;
  align-self: flex-start;
}
.l_tick {
  width: 25px;
  height: 25px;
  margin: -0.55rem 0 0 -0.5rem;
}
.l_third {
  padding: 0 2rem 3rem;
}
.l_thirdBigDiv {
  margin: 3rem auto 3rem;
  border-radius: 100px;
  padding: 0.9rem 1.7rem 0.9rem 2.3rem;
}
.l_plus {
  width: 25px;
  height: 25px;
  margin-left: 1.3rem;
}
._footer {
  margin-top: 10rem;
}
._footer p {
  font-size: 0.75rem;
  margin: 0 3rem;
}
.l_follow2 {
  display: none;
  margin-right: 2rem;
  line-height: 1.5rem;
}
._footer_last {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media all and (max-width: 1125px) {
  .l_pretty {
    min-width: 250px;
  }
}

@media all and (max-width: 1005px) {
  .l_pretty {
    margin-bottom: 3rem;
  }
}

@media all and (max-width: 750px) {
  .l_explore,
  .l_follow {
    display: none;
  }
  .l_follow2 {
    display: block;
  }
  .l_firstPart:nth-child(4) {
    margin-left: 5rem;
  }
  ._footer {
    margin: 10rem auto 0;
  }
}

@media all and (max-width: 537px) {
  .l_visitcontact,
  .l_legal {
    display: none;
  }
  .l_pretty {
    margin: auto;
  }
  .l_firstPart {
    padding: 13rem 0 0 1.5rem;
  }
  ._footer p {
    margin: 0 1rem;
  }
}
