.careers {
  height: 100vh;
}
.c_firstDiv {
  margin-bottom: 1.2rem;
}
.c_firstPart {
  height: 70vh;
  display: flex;
  padding: 13rem 10rem 0 4.5rem;
  box-sizing: border-box;
  line-height: 1.5rem;
}
.c_pretty {
  width: 20%;
  min-width: 250px;
  margin-right: 4rem;
}
.c_firstp {
  font-size: 0.85rem;
  font-weight: 300;
}
.c_firsth {
  margin-bottom: 0.8rem;
  font-weight: 500;
}

@media all and (max-width: 750px) {
  .c_pretty {
    display: none;
  }
  .c_firstPart {
    padding-right: 3rem;
  }
}

@media all and (max-width: 500px) {
  .c_firstPart {
    padding-left: 3.5rem;
  }
}
