.ds_sectionsCont {
  padding: 1rem;
  margin-bottom: 3rem;
  width: fit-content;
}
.ds_checkbox {
  width: fit-content !important;
  margin: 0 !important;
  height: auto;
  box-shadow: none;
  min-height: auto;
}
.ds_grid3 {
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
}
.ds_sectionsCont h6 {
  margin-bottom: 0.5rem;
}
.ds_sectionsCont p {
  font-weight: 400;
}
.ds_secondp {
  margin: 0 0 0 0.5rem;
  line-height: 1.4rem;
  font-size: 0.8rem;
  font-weight: 600;
  align-self: center;
}
.ds_secondDiv {
  margin: 0.2rem;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
}
.ds_secondDiv2 {
  margin-left: 2.1rem;
}
.ds_tickCont {
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #009740;
  border-radius: 100px;
  width: 8px;
  height: 8px;
  align-self: center;
}
.ds_tick {
  width: 25px;
  height: 25px;
  margin: -0.55rem 0 0 -0.5rem;
}
.ds_accuracy {
  margin-top: 2rem;
}
.ds_pantone {
  width: 45%;
  margin: 1rem 0 0;
  filter: invert(100%);
}
.ds_goCont {
  width: 60%;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.ds_button {
  background-color: #212121;
  color: white;
  padding: 0.6rem 1.5rem;
  border-color: #2680eb;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
}
.ds_input {
  display: block;
  margin-bottom: 1rem !important;
}

@media all and (max-width: 900px) {
  .ds_sectionsCont {
    margin: 0 auto 3rem;
  }
}
