.about {
  height: 100vh;
}
.a_firstDiv {
  margin-bottom: 1.2rem;
}
.a_firstPart {
  height: 70vh;
  display: flex;
  padding: 13rem 10rem 0 4.5rem;
  box-sizing: border-box;
  line-height: 1.5rem;
}
.a_pretty {
  width: 20%;
  margin-right: 4rem;
}
.a_firstp {
  font-size: 0.85rem;
  font-weight: 300;
}
.a_firsth {
  margin-bottom: 0.8rem;
  font-weight: 500;
}
