.invoice {
  padding-bottom: 7rem;
  box-sizing: border-box;
}
.invoice2 {
  grid-template-columns: 1.5fr 1fr;
  column-gap: 0;
}
.in_nebula {
  justify-self: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  align-self: flex-start;
}
.in_anurati {
  font-size: 50px;
  margin-right: 1rem;
}
.in_nebulaCont {
  align-items: flex-start;
}
.in_leftNebula {
  font-size: 30px;
  width: fit-content;
}
.in_leftmm {
  font-size: 15px;
}
.in_grid2a2 {
  margin-top: 2rem;
  line-height: 1.7rem;
}
.in_invoiceCont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: fit-content;
  justify-self: flex-end;
}
@font-face {
  font-family: "Invoice";
  src: local("Invoice"),
    url(../../Fonts/SpecifyPERSONAL-ExExpBold.ttf) format("truetype");
}
.in_invoice {
  font-size: 3rem;
  font-family: "Invoice";
}
.in_grid2b1 {
  line-height: 1.6rem;
  padding: 30px 20px 1rem 40px;
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 16px;
  box-sizing: border-box;
}
.in_grid2b1 p {
  font-size: 0.9rem;
}
.in_grid2b1 h3 {
  font-size: 1.9rem;
  margin-bottom: 0.7rem;
}
.in_lilMarginBtm {
  margin-bottom: 0.4rem;
}
.in_grid4b {
  grid-template-rows: 350px;
  margin: 0.2rem auto 0;
  border-radius: 0 0 8px 8px;
  padding: 2rem 2rem 1rem 3rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.4rem;
  height: 445px;
  border-radius: 0 0 16px;
}
.in_grid2b2 {
  width: 100%;
  box-sizing: border-box;
}
.in_grid2b2a {
  height: 100%;
  border-radius: 16px 0 16px 16px;
  margin-top: 1rem;
}
.grid2b {
  display: grid;
  grid-template-columns: 1.1fr 3fr;
  column-gap: 1rem;
  margin-top: 2rem;
  width: fit-content;
  box-sizing: border-box;
}
.in_grid2b2b {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 0 16px 16px;
  margin-top: 1rem;
  box-sizing: border-box;
}
.in_paymentDetail {
  align-items: flex-start;
  padding-left: 2rem;
  box-sizing: border-box;
  height: auto;
}
.in_paymentDetail h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0.5rem 0 0.5rem;
}
.in_paymentDetail p {
  font-weight: 300;
}
.in_totalCash {
  margin: 0 !important;
  font-weight: 300 !important;
}
.in_paymentDetailA {
  justify-self: flex-end;
  margin-right: 1rem;
}
.in_lastDiv {
  margin-top: 4.5rem;
}
.in_marley {
  letter-spacing: 0.47px;
  font-size: 1.8rem;
  min-width: 200px;
  margin-bottom: 1rem;
}
.in_print {
  border: 1px solid transparent;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  width: 150px;
  font-size: 0.8rem;
  height: 37px;
  text-align: center;
  padding: 0.7rem 0;
  box-sizing: border-box;
  margin: 1.5rem 0;
}
.in_print:hover {
  border: 1px solid #2680eb;
}
.tempClass0 {
  margin-top: 0.4rem;
  border-radius: 0 0 8px;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0;
}
.tempClass3 {
  margin-top: 0.2rem;
  border-radius: 0 0 8px 8px;
  padding: 0 1rem 0 3rem;
  width: 100%;
  box-sizing: border-box;
}
.in_grid4a {
  border-radius: 16px 16px 0 0;
  padding: 1rem 2rem 1rem 3rem;
  width: 100%;
  box-sizing: border-box;
}
.in_none2 {
  display: none;
}
.in_emailSent {
  position: absolute;
  padding: 0.5rem 1rem;
  top: 0px;
  right: 20px;
  background-color: #2680eb;
  border-radius: 0 0 8px 8px;
  width: fit-content;
  opacity: 0;
  -webkit-animation: fadeinout 3s linear forwards;
  animation: fadeinout 3s linear forwards;
}
@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}

@media all and (max-width: 1100px) {
  .invoice {
    padding: 1.7rem 2rem 7rem;
  }
  .in_grid2a2 {
    display: none;
  }
  .in_invoiceCont {
    margin-top: 2rem;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .grid2b {
    grid-template-columns: repeat(auto-fill, 100%);
    row-gap: 20px;
  }
  .in_grid2b1 {
    border-radius: 16px;
  }
  .tempClass0 {
    border-radius: 0 0 16px 16px;
  }
  .in_grid2b2b {
    border-radius: 16px;
    padding: 3rem 1rem;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fill, 50%);
  }
  .in_none {
    display: none;
  }
  .in_paymentDetailA {
    justify-self: flex-start;
    margin: 0;
  }
  .in_paymentDetail h3 {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 500px) {
  .invoice {
    padding: 1.7rem 1rem 7rem;
  }
  .in_title {
    padding-left: 1rem;
  }
  .invoice2 {
    padding-left: 1rem;
  }
  .in_anurati {
    font-size: 40px;
    margin-right: 0.5rem;
  }
  .in_leftNebula {
    font-size: 1.2rem;
  }
  .in_leftmm {
    font-size: 0.7rem;
  }
  .in_invoice {
    font-size: 2rem;
  }
  .in_grid4a {
    padding: 1rem 1rem 1rem 1.5rem;
  }
  .tempClass0 {
    padding: 1rem 1rem 1rem 1.5rem;
  }
  .in_none1 {
    display: none;
  }
  .in_none2 {
    display: block;
  }
  .tempClass3 {
    padding: 0;
  }
  .sm_content {
    min-width: 90px;
  }
}
@media all and (max-width: 350px) {
  .in_anurati {
    font-size: 35px;
    margin-right: 0;
  }
  .in_leftNebula {
    font-size: 1rem;
  }
  .in_leftmm {
    font-size: 0.6rem;
  }
}
