.dm_modalBtn {
  color: white;
  outline: none;
  border: none;
  margin: 1rem;
  border: 1px solid #1d8cde;
  border-radius: 8px;
  width: 123px;
  height: 40px;
}
.dm_modalBtn1 {
  background-color: #212121;
}
.dm_modalBtn1:hover {
  background-color: #2b2b2b;
}
.dm_modalBtn2 {
  background-color: #1d8cde;
}
.dm_modalBtn2:hover {
  background-color: #3ba0e8;
}
.dm_modalInfo {
  width: 15px;
  align-self: flex-start;
}
.dm_consentCont {
  justify-content: space-between;
  padding-right: 10%;
}
