.plan {
  font-family: "Raleway", sans-serif;
}
.pl_secondPart {
  margin: 2rem auto 3.5rem;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}
.pl_fullCont {
  margin-bottom: 3rem;
}
.pl_select {
  background-color: #2680eb;
  justify-self: flex-end;
  min-width: 206.25px;
  text-align: center;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 3px 6px #00000029;
  font-family: "Raleway", sans-serif;
  font-size: 0.83rem;
}
.pl_container {
  margin-bottom: 0 !important;
}
.pl_container:hover {
  border: 0.5px solid #2680eb;
}
