.codelogin {
  height: 86.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.cl_content {
  margin-top: -5rem;
  background-color: #212121;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  max-width: 627.75px;
  width: 95%;
  height: 338.25px;
  padding: 2rem;
  box-sizing: border-box;
}
.cl_left {
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
}
.cl_nebulaCont {
  padding: 1rem;
  align-items: flex-start;
}
.cl_leftNebula {
  font-size: 18px;
}
.cl_leftmm {
  font-size: 8px;
}
.cl_inputCont {
  box-sizing: border-box;
  width: 100%;
}
.cl_input {
  max-width: 486.75px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 1rem;
}
.cl_msg {
  height: 1.5rem;
}
.cl_start {
  border: 1px solid transparent;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  width: 123px;
  height: 36.75px;
  text-align: center;
  padding: 0.6rem 0;
  box-sizing: border-box;
  margin-top: 1rem;
}
.cl_start:hover {
  border: 1px solid #1d8cde;
}
