.dm_modalBtn {
  color: white;
  outline: none;
  border: none;
  margin: 1rem;
  border: 1px solid #1d8cde;
  border-radius: 8px;
  width: 123px;
  height: 40px;
}
.dm_modalBtn1 {
  background-color: #212121;
}
.dm_modalBtn1:hover {
  background-color: #2b2b2b;
}
.dm_modalBtn2 {
  background-color: #1d8cde;
}
.dm_modalBtn2:hover {
  background-color: #3ba0e8;
}
.dm_modalQuestionCont {
  margin: auto;
}
.dm_modalQuestion {
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}
.dm_infoLogo {
  width: 15px;
  align-self: flex-start;
}
.dm_info {
  margin: auto;
  margin-top: 4rem;
}
.dm_closeInfo {
  align-self: flex-end;
  margin: -3rem -7rem 0 0;
}

@media all and (max-width: 750px) {
  .dm_modalQuestion {
    font-size: 0.9rem;
  }
  .dm_infoLogo {
    width: 12px;
  }
  .dm_modalBtn {
    width: 100px !important;
    height: 35px !important;
  }
}
