.legal {
  padding-right: 3.5rem;
}
.lg_h3 {
  margin-bottom: 1rem;
}
.lg_service {
  line-height: 1.5rem;
  font-size: 0.75rem;
}
.lg_service2 {
  margin-bottom: 1rem;
}
.lg_grid2 {
  margin-top: 2rem;
}
.lg_checkboxCont {
  display: flex;
  justify-content: flex-end;
}
.lg_checkbox {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}
.lg_todayCont {
  margin-right: 1rem;
}
.lg_little {
  font-size: 0.7rem;
  line-height: 0.8rem;
}

@media all and (min-width: 1000px) {
  .legal {
    padding-right: 10rem;
  }
}

@media all and (max-width: 500px) {
  .legal {
    padding-right: 1.7rem;
  }
}
