.header {
  background-color: #262626;
  height: 90px;
  color: white;
  justify-content: space-between;
  box-shadow: 0px 3px 6px #00000029;
  width: 100vw;
  z-index: 1;
  position: fixed;
  top: 0;
}
.nope {
  display: none;
}
.h_left {
  padding: 0.5rem 1.5rem;
  outline: none;
}
.h_nebulaCont {
  padding: 1rem;
  align-items: flex-start;
}
.h_leftNebula {
  font-size: 19px;
  display: inline;
}
.h_leftmm {
  font-size: 9px;
}
.h_right {
  height: 90px;
}
.h_rightSubmit {
  font-size: 14px;
  padding: 0 1rem;
}
.h_rightPlus {
  width: 88px;
  height: 88px;
  outline: none;
  align-self: flex-start;
  background-color: #242424;
  border: 1px solid transparent;
}
.h_rightPlus:hover {
  background-color: #212121;
  border: 1px solid #2680eb;
}
.h_rightImg {
  width: 25px;
}

@media all and (max-width: 500px) {
  .h_rightSubmit {
    display: none;
  }
}

@media all and (max-width: 362px) {
  .h_leftNebula {
    font-size: 15px;
  }
}

@media all and (max-width: 320px) {
  .h_ltd {
    display: none;
  }
}
