.grid2a1 {
  margin: 0 0 2rem;
}
.tempClass {
  margin-top: 0.2rem;
  border-radius: 0 0 8px 8px;
  width: 100%;
  box-sizing: border-box;
  /* margin-left: -1rem; */
  padding: 0;
}
.tempClass2 {
  margin-top: 0.2rem;
  border-radius: 0 0 8px 8px;
  padding: 1rem 1rem 1rem 3rem;
  width: 100%;
  box-sizing: border-box;
}
.sm_grid4a {
  border-radius: 16px 16px 0 0;
  padding: 1rem 2rem 1rem 3rem;
  width: 100%;
  box-sizing: border-box;
  /* margin-left: -1rem; */
}
.sm_justifyLeft {
  justify-self: flex-start;
}
.sm_remove {
  margin-right: -1.5rem;
}
.grid2a2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 0 3rem;
  width: 100%;
}
.sm_grid2a2h3 {
  margin-bottom: 0.7rem;
}
.sm_grid2a2p {
  margin-bottom: 1rem;
}
.sm_grid2a2input {
  height: 20px;
  line-height: 1rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  border-radius: 6px 6px 0 0;
  width: 80%;
}
.sm_grid2a2h3a {
  margin: 0 0 1rem -1rem;
}
.sm_content {
  justify-content: flex-start;
  width: 100%;
}

@media all and (max-width: 500px) {
  .sm_grid4a {
    padding: 1rem;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
  .tempClass2 {
    padding: 1rem;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}
