.gg_main {
  width: fit-content;
  margin: 5rem auto 0;
}
.gg_alertCont {
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  padding: 3rem 3rem;
  margin: 0 auto 1.5rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
}
.gg_alert {
  width: 20px;
  margin-bottom: 1.3rem;
}
.gg_alertp {
  font-size: 0.83rem;
  line-height: 1.5rem;
}

@media all and (max-width: 500px) {
  .gg_title {
    display: none;
  }
  .gg_main {
    margin: 1.7rem auto 0;
  }
}
