html,
code,
body {
  background-color: #212121;
}
.page {
  position: absolute;
  top: 13.5vh;
  left: 0;
  width: 100vw;
  background-color: #212121;
  color: white;
  font-family: "Raleway", sans-serif;
}
.page2 {
  position: absolute;
  top: 90px;
  left: 237.75px;
  right: 0;
  background-color: #212121;
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 1.7rem 5rem 0 3.5rem;
}
.pageTitle {
  margin: 0 0 2.2rem -0.5rem;
  font-size: larger;
}
.pageTitle2 {
  font-size: larger;
  font-weight: 400;
  margin-bottom: 0.9rem;
}
.grid2 h3 {
  font-size: larger;
  font-weight: 400;
  margin-bottom: 0.9rem;
}
.grid2 input,
.grid2 textarea {
  width: 91%;
  margin-bottom: 1.9rem;
  box-sizing: border-box;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.justifySelfCenter {
  justify-self: center;
  align-self: center;
}
.checkboxCont {
  justify-content: space-between !important;
  padding-right: 10%;
  margin: 0.5rem 0 1.9rem;
  padding-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
.checkbox {
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  width: 37.5px;
  max-width: 37.5px;
  min-width: 37.5px;
  height: 37.5px;
  max-height: 37.5px;
  min-height: 37.5px;
}
._backCont {
  margin-top: 4.5rem;
  display: flex;
}
._arrow {
  width: 18px;
  margin-left: -2.45rem;
  filter: invert(100%);
}
._backCont:hover .c_arrow {
  width: 20px;
}
._back {
  font-size: 0.9rem;
  margin-left: 1rem;
}
input,
textarea {
  min-height: 36.75px;
  outline: none;
  border: none;
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  color: white;
  resize: none;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.8rem;
  font-family: "Raleway", sans-seriff;
}
textarea {
  font-family: "Raleway", sans-seriff;
  font-weight: 500;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 0.8rem;
  font-family: "Raleway", sans-seriff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 0.8rem;
  font-family: "Raleway", sans-seriff;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 0.8rem;
  font-family: "Raleway", sans-seriff;
}
.button {
  font-size: 12px;
  width: fit-content;
  border: 0.5px solid #267feb62;
}
.button:hover {
  border: 0.5px solid #2680eb;
}
.selected {
  border: 0.5px solid #2680eb !important;
}
.modal {
  top: 50%;
  left: calc(50% + 237.75px / 2);
  right: 50%;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #212121;
  border: 1px solid #707070;
  color: white;
  font-family: Raleway;
  /* padding: 4rem 8rem; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  width: 65%;
  max-width: 580px;
  min-width: 350px;
  position: absolute;
  outline: none;
}

/* MEDIA QUERIES */
@media all and (max-width: 750px) {
  .page2 {
    left: 0;
  }
  .modal {
    left: 50%;
    border-radius: 4px;
    height: 240px;
  }
}
@media all and (max-width: 500px) {
  .page2 {
    padding: 1.7rem 5% 4rem 5%;
  }
  .pageTitle {
    margin: 0 0 2.2rem;
  }
}
