body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
nav,
section,
button,
input,
body {
  margin: 0;
}
html {
  background-color: #212121;
}
body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
a {
  color: white;
  text-decoration: none;
  display: block;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}
.grid2a {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
@media all and (max-width: 1000px) {
  .grid2,
  .grid2a {
    display: block;
  }
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  grid-template-rows: 50px;
}
.anurati {
  font-family: "Anurati", sans-serif;
  font-size: 32px;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
.strong {
  font-weight: 500;
}
.bold {
  font-weight: bold;
}
.medium {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
.white {
  color: white;
}
.gray {
  color: #777777;
}
.bggray {
  background-color: #262626;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  outline: none;
  border: none;
  width: 81%;
}
.little {
  font-size: 0.8rem;
}
.inline {
  display: inline;
}
.underline {
  text-decoration: underline;
}
.blue {
  color: #2680eb;
}
.justifyText {
  text-align: justify;
  text-justify: inter-word;
}
.pointer {
  cursor: pointer;
}
.none {
  display: none;
}
.red {
  color: red;
}
.green {
  color: green;
}
.photoContStyle {
  border: 1px dashed gray;
  height: 200px;
  width: 200px;
  margin: 1.5rem 0 2rem;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}
.photoContStyle2 {
  height: 200px;
  width: 200px;
  outline: none;
  margin: 0 0 2rem 0;
}
.noImgStyle {
  width: 100px;
  background-color: transparent;
  filter: invert(70%);
}
.imgStyle {
  width: 200px;
  height: 200px;
  box-shadow: 5px 5px 10px #111;
  border-radius: 0 0 5px 5px;
}
